body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FEFAE0;
}

header {
	background-color: #DDA15E;
	height: 15px;
	display: flex;
	align-items: left;
	justify-content: left;
    padding-left: 50px;
}

header h1 {
	color: #fff;
	font-size: 36px;
}

nav {
	background-color: #DDA15E;
	height: 60px;
	display: flex;
	padding-left: 200px;
    padding-top: 50px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
    padding: 20px 0;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
    border: 1px solid #fff;
}

nav a:hover {
	background-color: #777;
}

.home{	
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home h2{
	font-size: 22px;
	margin-bottom: 10px;
}


.login {
    padding: 20px;
	background-color: #DDA15E;
    border-radius: 5%;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin: 20px auto;
	max-width: 800px;
	text-align: center;
}


.icon {
	position: absolute;
	right: 20px;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
    padding-bottom: 40px;
}

.icon img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #fff;
    background-color: #fff;
}

.arrow {
	display: inline-block;
	margin-top: 5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

.down {
	transform: rotate(180deg);
}



